@model IEnumerable<SocialNoteMark.Models.Bulletin>

@{
    ViewBag.Title = "AllRecruit";
}

<h2>招聘信息</h2>

<div class="row">
    @{int i = 0;}
    <div class="col-md-12">
        @foreach (var item in Model)
            {
                i++;
            <div class="col-md-12">
                <div class="panel-group" id="privateAccordion">



                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <form action="/recruitBulletin/interesting" method="post" commandname="friend" role="form">
                                <!-- panel-heading -->
                                <div class="panel-title">
                                    <input name="toid" type="hidden" value="@item.BulletionID">
                                    <a data-toggle="collapse" onclick=@("func("+i+")") data-parent="#privateAccordion" href=@("#privateAccordion" + i)>
                                        @item.Name
                                    </a>
                                    @if (item.UserName == @User.Identity.Name)
                                    {
                                        <a href="/recruitBulletin/" type="button" class="btn btn-default btn-xs">我的招募</a>
                                    }
                                    else
                                    {

                                        <input type="submit" id="submit" class="btn btn-primary btn-xs" value="我感兴趣">
                                    }

                                </div>
                            </form>
                        </div>

                        <div id=@("privateAccordion" + i) class="panel-collapse  collapse">
                            <div class="panel-body col-md-8">
                                @item.Content
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
