@model IEnumerable<SocialNoteMark.Models.Bulletin>

@{
    ViewBag.Title = "AllRecruit";
}

<h2>招聘信息</h2>

<div class="row">
    @{int i = 0;}
    <div class="col-md-9">
        @foreach (var item in Model)
            {
                i++;
            <div class="col-md-12">
                <div class="panel-group" id="privateAccordion">



                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <!-- panel-heading -->
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#privateAccordion" href=@("#privateAccordion" + i)>
                                    @item.Name
                                </a>
                                <a href="/note/edit/@item.BulletionID" type="button" class="btn btn-sm">我感兴趣</a>
                            </h4>
                        </div>

                        <div id=@("privateAccordion" + i) class="panel-collapse  collapse">
                            <div class="panel-body col-md-8">
                                @item.Content
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-md-3">
        <div>
            <div class="panel panel-danger" style="height:460px;">
                <div class="panel-heading">
                    <!-- panel-heading -->
                    <h4 class="panel-title">
                        感兴趣的人
                    </h4>
                </div>
                <div class="panel-body">
                    <!-- panel body -->

                    @for (int j = 0; j < 5; j++)
                    {
                        <p>
                            <img src="@ViewBag.ImageUrl" height="40px" width="40px">

                            <button type="button" class="btn" style="float:right" data-toggle="tooltip" data-placement="top" title="${user.email}"><span class="glyphicon glyphicon-envelope"></span></button>
                        </p>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
    

