@model IEnumerable<SocialNoteMark.Models.Bulletin>

@{
    ViewBag.Title = "历史视图";
}

@if (ViewBag.noteList.Count == 0)
{
    <h2>未有任何历史记录</h2>
    <hr />
}
else
{
    <h2>笔记历史记录</h2>
    <hr />
    foreach (var item in Model)
    {
        <div class="panel panel-danger">
            <div class="panel-heading">
                <!-- panel-heading -->
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#publicAccordion">
                        @item.Name
                    </a>
                </h4>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                @Html.Raw(@item.Content)
            </div>
        </div>
    }
}