@{
    ViewBag.Title = "About";
}<link href="../Content/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="../Content/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
<script src="../Scripts/jquery.min.js"></script>
<!-- header -->
<div class="container">
    <div class="header">
 
       
        <div class="clearfix"> </div>
        <!-- script-for-nav -->
        <script>
						$( "span.menu" ).click(function() {
						  $( ".head-nav ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
        </script>
        <!-- script-for-nav -->
    </div>
</div>
<div class="banner1">
    <div class="container">

    </div>
</div>
<!-- header -->
<div class="container">
    <div class="content-top1">
        <div class="content">
            <h2>About</h2>
            <div class="biography">
                <div class="biographys">
                    <div class="col-md-4 biography-info">
                        <img src="../images/a1.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="col-md-8 biography-into">
                        <h4>笔记分享</h4>
                        <p>如果你把快乐告诉一个朋友，你将得到两个快乐，而如果你把忧愁向一个朋友倾诉，你将被分掉一半忧愁。SocialNoteMark是个学习交流平台，在 SocialNoteMark 您可以记录下宝贵的学习笔记，并且将其分享，让我们共同学习共同进步。</p>
                        <a class="biography-info-right" href="#">Read More</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="biographys">
                    <div class="col-md-8 biography-into">
                        <h4>标签寻友</h4>
                        <p>SocialNoteMark 提供标签功能，这里的每一篇笔记，每一个用户都可以标记标签，在这里您可以找到许多和您有同样标签的志同道合之士，我们不分男女、不论贫富、不讲强弱，大家怀着共同的理想，为了共同的事业，朝着共同的目标，携手并肩，以期获得成功，有所成就。</p>
                        <a class="biography-info-right" href="#">Read More</a>
                    </div>
                    <div class="col-md-4 biography-info">
                        <img src="../images/a2.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="biographys">
                    <div class="col-md-4 biography-info">
                        <img src="../images/a3.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="col-md-8 biography-into">
                        <h4>团队招募</h4>
                        <p>你有很好的想法但却缺少技术，你有很好的能力却没有发挥的平台，如果您属于以上的这两类大牛，欢迎您在 SocialNoteMark 上寻找您的队友，我宁可做人类中有梦想和有完成梦想的愿望的、最渺小的人，而不愿做一个最伟大的、无梦想、无愿望的人。 让我们共同携手实现创意·成就梦想。</p>
                        <a class="biography-info-right" href="#">Read More</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div class="footer">
    <div class="container">
        <p>code by OurCShap</p>    </div>
</div>
<!-- footer -->
