@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address><!--TODO: Here is something to discuss about later-->
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>组员：</strong>
    <strong>储天弘</strong>   <a href="mailto:CtheSky@yeah.net">CtheSky@yeah.net</a><br />
    <!--TODO: Add your name and email here--> 
</address>